body {
    background-color: rgb(199, 199, 199);
}

.sheet {
    width: 800px;
    height: 700px;
    background-color: white;
    margin: auto;
    margin-top: 80px;
}

.font {
    font-family: 'Quicksand', sans-serif;
    line-height: 0.5em;
    text-align: center;
    padding-top: 10px;
    color: rgb(26, 0, 97);
}