body {
    background-color: rgb(199, 199, 199);
}

.sheet {
    width: 800px;
    height: 700px;
    background-color: white;
    margin: auto;
    margin-top: 80px;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    line-height: 0.5em;
    text-align: center;
    padding-top: 10px;
    color: rgb(26, 0, 97);
}

ul, p {
    color: #1A2A4E;
    font-size: 1.2em;
}

p {
    margin-top: 10px;
    padding-left: 40px;
}

ul { 
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(42, 146, 136);
}

.contact {
    font-size: 1em;
    margin-bottom: 10px;
}